<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBQvlR9ryo2G1i4P3He-bMFY92DXUSFHBg</string>
	<key>GCM_SENDER_ID</key>
	<string>405851937316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fins.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>project-fins</string>
	<key>STORAGE_BUCKET</key>
	<string>project-fins.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405851937316:ios:b742dcffb0a90438f696b1</string>
</dict>
</plist>